@model Product





   
   
    
        <img height="100" width="100" src="@Model.ImageUrl">
        <h1>@Model.Name</h1>
       <p>@Model.Detail</p>
       <h5>@Model.Price.ToString()</h5>
    





